---
layout: default
title: News
---

<h1>News</h1>

<section class="articles" role="region">
    {% for post in site.posts %}
    <article>
        <h1>{{ post.title }}</h1>

        <p><date datetime="{{ post.date }}">{{ post.date | date_to_string }}</date></p>

        {% if post.description %}<p>{{ post.description }}</p>{% endif %}
    
        <p><a href="{{ post.url }}">
        {% if post.linktext %}
        	{{ post.linktext }}
        {% else %}
        	Read more about {{ post.title }}
        {% endif %}
        </a></p>
    </article>
    {% endfor %}
</section>
