html {
    background-color: #ec008b;
}

.fancy {
    text-transform: uppercase;
    font-family: "cabin sketch";
}

.title {
    font-size: 2.2em;
}

h1, section h1 {
    font-family: "open sans";
    font-size: 1.5em;
}

date {
    font-size: 0.8em;
}

li {
    margin-bottom: 1em;
}

header {
    color: white;
    max-width: 43em;
    padding: 0 2em;
    margin-left: auto;
    margin-right: auto;
}
header .logo {
    display: block;
    margin: 1em auto;
}
header .fancy {
    font-size: 1.5em;
    text-align: center;
}
header nav {
    padding-top: 1em;
    font-size: 0.9em;
}
header nav ul {
    margin: 0 -2em;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: center;
    color: white;
}
header nav li {
    display: inline-block;
    margin: 0;
    list-style-type: none;
}
header nav li a {
    display: block;
    padding: 0.5em 1em;
    color: #aaa;
    text-decoration: none;
    background-color: black;
}
header nav li a.current, header nav li a:visited.current {
    color: white;
}
header nav li a:visited {
    color: #aaa;
}
header nav li a:hover {
    color: white;
    background-color: #666;
}

main {
    background-color: white;
    max-width: 43em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding: 0 2em 1em 2em;
    overflow: hidden;
}
article .fancy {
    color: #ec008b;
    font-size: 2.5em;
}
section article {
    border-top: 1px solid #ccc;
    padding-bottom: 1em;
}
section article:first-child {
    border-top: none;
}