<!doctype html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>A simple, elegant design for the web</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="favicon.ico" />
        <link rel="stylesheet" href="{{ site.baseurl }}css/all.css" />
    </head>

    <body role="document">
        <header role="banner" class="inline-header">
            <h1>A simple, elegant design for the web</h1>

            <nav role="navigation">
                <ul>
                    <li><a href="index.html">Summary</a></li>
                    <li><a href="details.html">Details</a></li>
                    <li><a href="more.html">More</a></li>
                </ul>
            </nav>
        </header>

        <main role="main">
            {{ content }}
        </main>

        <footer role="contentinfo" class="quiet-footer">
            <nav>
                <ul>
                    <li>by <a href="http://robinwinslow.co.uk">robin</a></li>
                    <li>this project is in the <a href="http://unlicense.org">public domain</a></li>
                    <li>please <a href="https://github.com/nottrobin/basic-design">fork my code</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
